<!--Header-->
<div class="fixed w-full h-auto bg-white z-20">
    <div class="container mx-auto py-2">
        
        <div class="flex justify-center items-center">
            <app-logo class="w-auto sm:w-full lg:w-full"></app-logo>
            <app-categories class="w-auto" [categories]="categories" [subCategories]="subCategories"></app-categories>
            <app-search class="w-auto sm:w-full lg:w-full mx-1"></app-search>
            <app-user-menu class="w-auto sm:w-full lg:w-full mx-1"></app-user-menu>
        </div>

        <!--Carousel
        <div>
            <swiper-container slides-per-view="5" grab-cursor="true" class="bg-white">
                <swiper-slide class="flex justify-center items-center py-2" *ngFor="let i = index; let c of categories">
                    <a routerLink="/products/category/{{c.category}}/">{{c.category}}</a>
                </swiper-slide>
            </swiper-container>
        </div>
        -->

  
    </div>

    <div class="flex w-full h-5 bg-slate-700"></div>
</div>