<div class="fixed w-full flex justify-center h-auto bg-white z-20">
    <div class="container flex items-center py-2">

        <!-- Logo -->
        <div class="flex justify-center">
            <app-logo></app-logo>
        </div>

        <!--Search-->
        <div class="flex justify-center items-center grow">
                <app-categories [categories]="categories" [subCategories]="subCategories"></app-categories>
                <app-search class="w-full max-w-xl"></app-search>
        </div>

        <!--User Menu-->
        <div class="flex">
            <app-user></app-user>
            <app-cart></app-cart>
        </div>

        <!--Carousel
        <div>
            <swiper-container slides-per-view="5" grab-cursor="true" class="bg-white">
                <swiper-slide class="flex justify-center items-center py-2" *ngFor="let i = index; let c of categories">
                    <a routerLink="/products/category/{{c.category}}/">{{c.category}}</a>
                </swiper-slide>
            </swiper-container>
        </div>
        -->
    </div>