<div class="w-full flex justify-center items-center">
    <div class="container min-h-screen pt-24 px-5">
        <!--Category Title-->
        <div class="w-full sticky top-20 z-10">
            <app-category-title></app-category-title>
        </div>

        <!--Product List-->
        <div class="min-h-[calc(100vh-12rem)]">
            <div>
                <div>
                    <app-product-list></app-product-list>
                </div>
            </div>
        </div>
    </div>
</div>