<!-- Categories modal -->
<button class="btn btn-circle btn-ghost" onclick="my_modal_3.showModal()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
    </svg>
</button>
<dialog id="my_modal_3" class="modal overflow-y-auto">
    <div class="w-full absolute top-0 right-0 p-10 bg-base-200">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost fixed right-4 top-4">✕</button>
        </form>
        <h3 class="font-bold text-lg">Categories</h3>
        <ul class="menu lg:menu-horizontal rounded-box">
            <li *ngFor="let c of categories">
                <span class="font-bold btn-disabled">{{c.category | titlecase}}</span>
                <ul>
                    <li *ngFor="let s of c.subCategories">
                        <a (click)="navigate(c.category, s)">{{s | titlecase}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</dialog>