<div class="flex items-center relative">
    <input type="text" placeholder="Search..." [spellcheck]="false" #searchInput (keyup)="onSearch(searchInput.value)"
        class="input input-sm w-full p-5 bg-base-200" />
    <button (click)="search(searchInput.value)" class="btn btn-circle btn-sm btn-ghost absolute right-1">
        <svg class="w-5 h-5 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
    </button>
</div>

<!--Results-->
<div *ngIf="searchInput.value !== ''" class="absolute top-[4rem] w-full max-w-xl">
    <ul class="menu menu-md bg-base-200 rounded-box">
        <li class="menu-title">Results for {{searchInput.value}}</li>
        <li *ngFor="let r of results$ | async">
            <a>{{r.title}}</a>
        </li>
    </ul>
</div>