<div class="w-full flex min-h-screen">
    <div class="container mx-auto flex items-center justify-center">
        <div class="grid grid-cols-2 w-full h-[40rem]">

            <!--Image-->

            <div class="flex justify-center items-center p-5 ">
                <div class="w-full h-full rounded-3xl p-8 bg-white">
                    <img class="w-full h-full rounded-3xl" src="" alt="">
                </div>
            </div>

            <!--Data-->

            <div class="flex justify-center items-center p-5 ">
                <div class="grid grid-rows-2 w-full h-full rounded-3xl p-8 bg-white">
                    <div>
                        <ul>
                            <li class="mb-2"><h1 class="text-2xl font-bold">Title</h1></li>
                            <li class="mb-2"><span class="">Brand</span></li>
                            <li class="mb-2"><span class="font-bold">Price</span></li>
                            <li class="mb-2">
                                <div class="rating">
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                                        checked />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                                </div>
                            </li>
                            <li class="mb-2"><span class="font-bold">Description</span></li>
                            <li class="mb-2"><span class="font-bold">Stock: </span></li>
                        </ul>
                    </div>
                    <div class="grid grid-cols-2 items-end">
                        <button class="btn">Add to Cart</button>
                        <button class="btn btn-primary">Buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>